<%
    unit_tests = measure('sonar.testpyramid.unittests')
    integration_tests = measure('sonar.testpyramid.integrationtests')
    functional_tests = measure('sonar.testpyramid.functional')
%>

<div class="dashbox">
    <h3>Test Pyramid</h3>
    <ul>
        <li>Number of unit tests = <%= unit_tests =></li>
        <li>Number of integration tests = <%= integration_tests =></li>
        <li>Number of functional tests = <%= functional_tests =></li>
    </ul>
</div>
